.h1{
    font-size: 3em;
    text-align: center;
}
.container {
    display: grid;
    grid-template-rows: repeat(16, 50px);
    grid-template-columns: repeat(16, 50px);
    justify-content: center;
}

.box {
    border: 1px solid gray;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1em;
}

.formItem{
    margin: 1em;
}
